[Unit]
Description=Updatea cosas a la base de datos influx
#After=network.target
#StartLimitIntervalSec=0

[Service]
Type=simple
#Restart=always
#RestartSec=1
User=influx_updater
ExecStart=/usr/local/bin/influx_updater

[Install]
WantedBy=multi-user.target
