[Unit]
Description=Updatea cosas a la base de datos influx
#After=network.target
#StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=15
User=influx_updater
ExecStart=/usr/bin/python3 /usr/local/bin/recolector_metricas.py

[Install]
WantedBy=multi-user.target